# Working with Strings and Lists, List Comprehension, Tuples

## Tasks Today:


1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) lstrip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) rstrip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) title() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) upper() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) lower() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) capitalize() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Exercise <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Exercise <br>
3) List Comprehensions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Square numbers <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Filters <br>
4) Ternary Operators <br>
5) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) vs lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) index, iterate, slice <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sorting <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) adding values to tuples <br>

### String Manipulation

##### .lstrip()

In [8]:
# string.lstrip()
name = '              Rebecca              '
print(name)

              Rebecca

In [12]:
print(name.lstrip())
print(name)

Rebecca
              Rebecca

In [15]:
a_string = '.............word........'
print(a_string.lstrip('.'))
print(a_string.strip('.'))

word........
word

In [21]:
greeting = "....hi.....how are you....."
print(greeting.lstrip('.h'))

i.....how are you.....

##### .rstrip()

In [ ]:
# string.rstrip()

In [10]:
print(name.rstrip())

              Rebecca

##### .strip()

In [ ]:
# string.strip()

In [11]:
print(name.strip())

Rebecca

In [23]:
# using method chaining
sentence_string = "   .......hello.      "
# "hello."

print(sentence_string.lstrip('. ').rstrip())

hello.

##### .title()

In [13]:
# string.title()
name = 'steven'
print(name.title())

Steven

In [24]:
book = 'hArRy pOtTeR'
print(book)

hArRy pOtTeR

In [25]:
print(book.title())

Harry Potter

##### .upper()

In [27]:
# .upper()
print(book)
print(book.upper())

hArRy pOtTeR
HARRY POTTER

##### .upper()

In [28]:
# .lower()
print(book.lower())

harry potter

##### .capitalize()

In [29]:
# .capitalize
print(book.capitalize())

Harry potter

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [35]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# Output: ['Connor', 'Max', 'Evan', 'Jordan']

names2 = []

for name in names:
    names2.append(name.strip().title())
print(names2)

['Connor', 'Max', 'Evan', 'Jordan']

### Working With Lists

##### min()

In [67]:
# min(list)
numbers = [73, 4, 34, 66, 2, 39, 80, 45, 66]
min(numbers)

2

In [72]:
new_names = ['connor', 'Max', 'Evan', 'Jordan']
new_names.append('Adam')
print(new_names)
min(new_names)

['Connor', 'Max', 'Evan', 'Jordan', 'Adam']

'Adam'

In [ ]:
# min or max do not work for comparing int and str in same list

In [ ]:
# ord('')

##### max()

In [75]:
# max(list)
print(max(numbers))
print(max(new_names))

80
Max

##### sum()

In [76]:
# sum(list)
# can do with int, float, combo of both
# sum does not work with str bc sum starts with 0 and cannot add str to int
print(sum(numbers))

409

In [77]:
floats = [2.34, 1.245, 5.29]
print(sum(floats))

8.875

##### sorted()

In [79]:
# sorted(list)
sorted_numbers = sorted(numbers, reverse=True)
print(numbers)
print(sorted_numbers)

[73, 4, 34, 66, 2, 39, 80, 45, 66]
[80, 73, 66, 66, 45, 39, 34, 4, 2]

In [ ]:
# sorted() works with strings as well

In [87]:
new_names = ['connor', 'Max', 'Evan', 'Jordan']
print(new_names)
print(sorted(new_names))

['connor', 'Max', 'Evan', 'Jordan']
['Evan', 'Jordan', 'Max', 'connor']

In [82]:
print(sorted('hello world'))

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [89]:
# list.sort()
sorted_list = sorted(numbers)

print(numbers)
print(sorted_list)

[73, 4, 34, 66, 2, 39, 80, 45, 66]
[2, 4, 34, 39, 45, 66, 66, 73, 80]

In [90]:
sorted_list = numbers.sort()

print(numbers)
print(sorted_list)

# use sorted when you don't want to alter original list, use .sort() when you want to alter original list

[2, 4, 34, 39, 45, 66, 66, 73, 80]
None

In [91]:
print(numbers)

[2, 4, 34, 39, 45, 66, 66, 73, 80]

##### Copying a List

In [93]:
# [:] copies a list, doesn't alter original
list_a = ['a', 'b', 'c']
list_b = list_a
list_c = list_a[:]

print(list_a)
print(list_b)
print(list_c)

list_a == list_b == list_c

['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c']

True

In [94]:
id(list_a)

140361012236480

In [95]:
id(list_b)

140361012236480

In [96]:
id(list_c)
# making a copy with the slice method creates a new copy at a different location in the memory

140361012238784

In [97]:
list_a == list_c

True

In [98]:
# is keyword is looking at the reference point, not value
list_a is list_c

False

In [99]:
list_a.append('d')

print(list_a)
print(list_b)
print(list_c)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
['a', 'b', 'c']

##### 'in' keyword

In [100]:
instructors = ['Brian', 'Tatyana', 'Ryan', 'Shoha', 'Kevin']

'Brian' in instructors

True

In [103]:
'B' in instructors

False

In [104]:
# can use on strings
my_string = 'Hello this is my string'
's' in my_string

True

##### 'not in' keyword

In [107]:
'Ryan' not in instructors

False

In [106]:
'Taty' not in instructors

True

In [108]:
's' not in my_string

False

In [109]:
'x' not in my_string

True

##### Checking an Empty List

In [110]:
# if l_1 == []:
my_list = []

if my_list == []:
    print('this list is empty')

this list is empty

In [112]:
another_list = []

if another_list:
    print('the list must not be empty')
else: 
    print('the list must be empty')

the list must be empty

In [113]:
bool(another_list)

False

In [114]:
my_string = ''
if my_string:
    print('string is truthy')
else: 
    print('string is falsy')

string is falsy

In [115]:
x = 0
if x:
    print('True')
else: 
    print('False')

False

##### Removing Instances with a Loop

In [120]:
# while, remove

names = ['kevin', 'blob', 'robert', 'kevin', 'kevin', 'dave', 'steve', 'kevin', 'dave']
# the for loop will skip indices so this is not the best way to remove
for name in names:
    if name == 'kevin':
        names.remove('kevin')
        
print(names)

while 'kevin' in names:
    names.remove('kevin')
print(names)

['blob', 'robert', 'dave', 'steve', 'kevin', 'dave']
['blob', 'robert', 'dave', 'steve', 'dave']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [125]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

# Output: ['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

final_names = []
for name in names:
    if name in final_names:
        continue
    else:
        final_names.append(name)
print(final_names)


# maria's solution
final_names = []
for name in names:
    if name not in final_names:
        final_names.append(name)
print(final_names)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

In [128]:
# number comprehension

# With a regular for loop
nums = []

for num in range(1, 101):
    nums.append(num)
print(nums)


# *result*  = [*transform*    *iteration*         *filter*     ]
nums_comp = [num for num in range(1, 101)]
print(nums_comp)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [132]:
# square number comprehension
squares_loop = []

for x in range(1, 11):
    squares_loop.append(x**2)
print(squares_loop)

squares_comp = [x**2 for x in range(1, 11)]
print(squares_comp)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [137]:
# string comprehension
cities = ['Austin', 'Denver', 'Chicago', 'Japan', 'Champaign']

first_letter = [city[0] for city in cities]
print(first_letter)

['A', 'D', 'C', 'J', 'C']

In [138]:
# Adding filters
cities_starting_with_c = []

for city in cities:
    if city[0].lower() == 'c':
        cities_starting_with_c.append(city)
print(cities_starting_with_c)

['Chicago', 'Champaign']

In [139]:
# Using an 'if' in list comprehension ... filter comes after the for
c_cities_comp = [city for city in cities if city[0].lower() == 'c']
print(c_cities_comp)

['Chicago', 'Champaign']

#### Python Ternary Operator

In [ ]:
# value_if_true if condition else value_if_false

if x > y:
    a = b
else:
    a = c

#these two things are the same

a = b if x > y else c

In [140]:
if 10 > 100:
    name1 = 'Brian'
else:
    name1 = 'Stanton'
    
name2 = 'Brian' if 10 > 100 else 'Stanton'

print(name1)
print(name2)

Stanton
Stanton

In [144]:
some_nums = [54, 3, 20, 3880, 207, 35, 290]

oddoreven = []

for num in some_nums:
    if num < 100:
        if num % 2 == 0:
            oddoreven.append('even')
        else:
            oddoreven.append('odd')
print(oddoreven)

['even', 'odd', 'even', 'odd']

In [145]:
#same thing in list comprehension

evenorodd = ['even' if num % 2 == 0 else 'odd' for num in some_nums if num < 100]
print(evenorodd)

['even', 'odd', 'even', 'odd']

In [152]:
x = 1
y = 10

if x > y:
    some_test = 'a'
elif x == y:
    some_test = 'b'
else:
    some_test = 'c'
    
print(some_test)

c

In [154]:
some_ternary_test = 'a' if x > y else 'b' if x == y else 'c'
print(some_ternary_test)

c

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [156]:
# same as list but immutable
# tuples are ordered

my_list = [1, 2, 3, 4]
my_list.append(5)
print(my_list)

my_list[0] = 100
print(my_list)

[1, 2, 3, 4, 5]
[100, 2, 3, 4, 5]

In [158]:
# Syntax 1: var_tuple = (,)
# Syntax 2: var_tuple = , ...,...
# tuples are defined by the commas, not the parentheses

tup1 = (1, 2, 3, 4)

print(tup1, type(tup1))

tup2 = 1, 2, 3, 4

print(tup2, type(tup2))

(1, 2, 3, 4) <class 'tuple'>
(1, 2, 3, 4) <class 'tuple'>

In [159]:
tup3 = (10)
print(tup3, type(tup3))

10 <class 'int'>

In [160]:
solo_list = [10]
print(solo_list, type(solo_list))

[10] <class 'list'>

In [163]:
# if you want solo tuple, comma needs to go after element

solo_list = (10,)
print(solo_list, type(solo_list))

(10,) <class 'tuple'>

In [166]:
# Tuples are indexable
print(tup1[0])



# Tuple can be sliced
print(tup1[1:3])


# Tuples are iterable
for element in tup1:
    print(element)

1
(2, 3)
1
2
3
4

##### sorted()

In [175]:
tup_new = (23, 45, 693, 20, 3908)
print(tup_new)

sorted_tup = sorted(tup_new)
print(sorted_tup, type(sorted_tup))

changed = tuple(sorted_tup)
print(changed, type(changed))

(23, 45, 693, 20, 3908)
[20, 23, 45, 693, 3908] <class 'list'>
(20, 23, 45, 693, 3908) <class 'tuple'>

##### Adding values to a Tuple

In [174]:
tup_one = (1, 2, 3)
tup_two = (4, 5, 6)

tup_three = tup_one + tup_two
print(tup_three)

(1, 2, 3, 4, 5, 6)

In [176]:
tup_string = ('A', 'B', 'C')

tup_func = (len, max, min, sum)

tup_obj = (int, float, tuple, list)

print(tup_string)
print(tup_func)
print(tup_obj)

('A', 'B', 'C')
(<built-in function len>, <built-in function max>, <built-in function min>, <built-in function sum>)
(<class 'int'>, <class 'float'>, <class 'tuple'>, <class 'list'>)

# Exercises

## Exercise 1 <br>
<p>Create a list of numbers that are less than ten using l_1 and list comprehension</b></i></p><br>
<p> Your output should [1,5,8,9]</p>

In [7]:
# Use the following list - [1,11,14,5,8,9]

l_1 = [1,11,14,5,8,9]
l_2 = []

for i in l_1:
    if i < 10:
        l_2.append(i)
print(l_2)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Using list comprehension, create a list of names of 4 letters or more and capitalize each name
<br>

In [238]:
names1 = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 'bob', 'kevin']

names3 = [name.title() for name in names1 if len(name) > 3]
print(names3)

# to remove duplicates
names3 = []
[names3.append(name.title()) for name in names1 if len(name) > 3 if name.title() not in names3]
print(names3)


# # Bonus Challenge
names2 = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']

names4 = [name.title() for name in names2 if isinstance(name, str) if len(name) > 3]
print(names4)

#to remove duplicates
names4 = []
[names4.append(name.title()) for name in names2 if isinstance(name, str) if len(name) > 3 if name.title() not in names4]
print(names4)

['Connor', 'Connor', 'Connor', 'Evan', 'Evan', 'Kevin']
['Connor', 'Evan', 'Kevin']
['Connor', 'Connor', 'Connor', 'Evan', 'Evan', 'Kevin']
['Connor', 'Evan', 'Kevin']